In [1]:
import pandas as pd

germany = pd.read_excel('Resources/2. Bundesliga (Germany) 2023-24 Player Stats_.xlsx', header=1)
germany.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,1,Dickson Abiama,ng NGA,FW,Greuther Fürth,25-123,1998,13,5,533,...,0.17,0.68,0.51,0.68,0.44,0.07,0.51,0.44,0.51,Matches
1,2,Dickson Abiama,ng NGA,"DF,MF",Kaiserslautern,25-123,1998,5,0,102,...,0,0,0,0,0.17,0.08,0.25,0.17,0.25,Matches
2,3,Ragnar Ache,de GER,"FW,MF",Kaiserslautern,25-221,1998,18,14,1151,...,0,0.94,0.94,0.94,0.68,0.08,0.76,0.68,0.76,Matches
3,4,Aremu Afeez,ng NGA,MF,Kaiserslautern,24-154,1999,2,0,45,...,0,0,0,0,0.02,0,0.02,0.02,0.02,Matches
4,5,Oladapo Afolayan,eng ENG,"FW,MF",St. Pauli,26-022,1998,24,22,1739,...,0.1,0.41,0.31,0.41,0.14,0.1,0.24,0.14,0.24,Matches

In [2]:
def import_excel(file_name):
    df = pd.read_excel(f'Resources/{file_name}.xlsx', header=1)
    return df

In [3]:
belgium = import_excel('Belgian Pro League (Belgium) 2023-24 Player Stats')
belgium.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,1,Ahmed Abdullahi,ng NGA,FW,Gent,19-260,2004,1,0,29,...,0.00,0.00,0.00,0.00,0.00,0.10,0.10,0.00,0.10,Matches
1,2,Shuto Abe,jp JPN,MF,RWD Molenbeek,26-091,1997,26,14,1352,...,0.07,0.13,0.07,0.13,0.09,0.08,0.17,0.09,0.17,Matches
2,3,Abner,br BRA,"DF,MF",RWD Molenbeek,27-280,1996,24,20,1833,...,0.00,0.00,0.00,0.00,0.03,0.02,0.05,0.03,0.05,Matches
3,4,Francis Abu,gh GHA,"MF,FW",Cercle Brugge,22-313,2001,6,4,306,...,0.00,0.00,0.00,0.00,0.03,0.04,0.08,0.03,0.08,Matches
4,5,Tayo Adaramola,ie IRL,DF,RWD Molenbeek,20-112,2003,7,7,532,...,0.00,0.00,0.00,0.00,0.05,0.10,0.15,0.05,0.15,Matches

In [4]:
france = import_excel('Ligue 2 (France) 2023-24 Player Stats_')
france.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,1,Abdel Abdallah,km COM,DF,Rodez Aveyron,26-200,1997,27,18,1560,...,0,0.06,0.06,0.06,0.07,0.1,0.17,0.07,0.17,Matches
1,2,Himad Abdelli,dz ALG,"MF,FW",Angers,24-109,1999,25,25,2218,...,0.08,0.32,0.04,0.12,0.25,0.1,0.34,0.09,0.18,Matches
2,3,Ali Abdi,tn TUN,DF,Caen,30-076,1993,24,24,2137,...,0.04,0.38,0.34,0.38,0.19,0.09,0.28,0.19,0.28,Matches
3,4,Elhadj Abdourahamane Bah,gn GUI,FW,Dunkerque,22-196,2001,9,4,351,...,0.26,0.51,0.26,0.51,NaN,NaN,NaN,NaN,NaN,Matches
4,5,Salomon Abergel,fr FRA,DF,Ajaccio,19-245,2004,4,1,172,...,0,0,0,0,0,0.05,0.05,0,0.05,Matches

In [5]:
portugal = import_excel('Primeira Liga (Portugal) 2023-24 Player Stats_')
portugal.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,1,Rodrigo Abascal,uy URU,DF,Boavista,30-051,1994,20,20,1772,...,0,0.05,0.05,0.05,0.03,0.01,0.03,0.03,0.03,Matches
1,2,Antonio Adán,es ESP,GK,Sporting CP,36-297,1987,22,22,1980,...,0,0,0,0,0,0,0,0,0,Matches
2,3,Dennis Adeniran,eng ENG,MF,Portimonense,25-063,1999,1,0,6,...,0,0,0,0,0,0,0,0,0,Matches
3,4,Martin Agirregabiria,es ESP,DF,Famalicão,27-300,1996,18,8,810,...,0,0,0,0,0.01,0.05,0.06,0.01,0.06,Matches
4,5,Salvador Agra,pt POR,"DF,FW",Boavista,32-115,1991,22,22,1717,...,0.05,0.21,0.16,0.21,0.09,0.12,0.21,0.09,0.21,Matches

In [6]:
spain = import_excel('Segunda Division (Spain) 2023-24 Player Stats')
spain.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,1,Tony Abad,es ESP,DF,Eldense,27-123,1996,27,26,2334,...,0.23,0.23,0,0.23,0,0.06,0.07,0,0.07,Matches
1,2,Abel,es ESP,DF,Oviedo,23-197,2000,28,28,2481,...,0.04,0.07,0.04,0.07,0.02,0.09,0.11,0.02,0.11,Matches
2,3,Diyaeddine Abzi,ca CAN,"DF,MF",Leganés,25-103,1998,3,0,24,...,0,0,0,0,0.34,0,0.34,0.34,0.34,Matches
3,4,Álvaro Aceves,es ESP,GK,Eldense,20-223,2003,11,11,990,...,0,0,0,0,0,0,0,0,0,Matches
4,5,Emmanuel Addai,gh GHA,"FW,MF",Alcorcón,22-217,2001,24,14,1546,...,0.17,0.35,0.17,0.35,0.19,0.1,0.29,0.19,0.29,Matches

In [7]:
italy = import_excel('Serie B (Italy) 2023-24 Player Stats_')
italy.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,1,Oliver Abildgaard,dk DEN,MF,Como,27-269,1996,22,18,1626,...,0.17,0.28,0.11,0.28,0.04,0.08,0.12,0.04,0.12,Matches
1,2,Fabio Abiuso,gr GRE,FW,Modena,21-032,2003,15,7,776,...,0,0.46,0.46,0.46,NaN,NaN,NaN,NaN,NaN,Matches
2,3,Gonzalo Abrego,ar ARG,MF,Cremonese,24-058,2000,18,10,989,...,0,0.09,0.09,0.09,0.12,0.03,0.16,0.12,0.16,Matches
3,4,Gennaro Acampora,it ITA,MF,Bari,29-342,1994,16,12,1011,...,0.09,0.09,0,0.09,0.05,0.06,0.11,0.05,0.11,Matches
4,5,Ismail Achik,it ITA,"FW,MF",Bari,23-219,2000,15,5,584,...,0.15,0.31,0.15,0.31,0.19,0.23,0.42,0.19,0.42,Matches

In [8]:
combined_players = pd.concat([germany, belgium, france, portugal, spain, italy], axis=0, join='inner')

In [9]:
combined_players.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
0,1,Dickson Abiama,ng NGA,FW,Greuther Fürth,25-123,1998,13,5,533,...,0.17,0.68,0.51,0.68,0.44,0.07,0.51,0.44,0.51,Matches
1,2,Dickson Abiama,ng NGA,"DF,MF",Kaiserslautern,25-123,1998,5,0,102,...,0,0,0,0,0.17,0.08,0.25,0.17,0.25,Matches
2,3,Ragnar Ache,de GER,"FW,MF",Kaiserslautern,25-221,1998,18,14,1151,...,0,0.94,0.94,0.94,0.68,0.08,0.76,0.68,0.76,Matches
3,4,Aremu Afeez,ng NGA,MF,Kaiserslautern,24-154,1999,2,0,45,...,0,0,0,0,0.02,0,0.02,0.02,0.02,Matches
4,5,Oladapo Afolayan,eng ENG,"FW,MF",St. Pauli,26-022,1998,24,22,1739,...,0.1,0.41,0.31,0.41,0.14,0.1,0.24,0.14,0.24,Matches

In [10]:
combined_players.tail()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
618,596,Jan Zuberek,pl POL,FW,Ternana,19-358,2004,1,0,23,...,0,0,0,0,0,0.07,0.07,0,0.07,Matches
619,597,Federico Zuccon,it ITA,MF,Cosenza,20-339,2003,21,16,1361,...,0.13,0.13,0,0.13,0.05,0.04,0.09,0.05,0.09,Matches
620,598,Szymon Żurkowski,pl POL,MF,Spezia,26-162,1997,16,7,636,...,0.14,0.14,0,0.14,0.09,0.14,0.23,0.09,0.23,Matches
621,599,Žan Žužek,si SVN,DF,Bari,27-039,1997,9,5,544,...,0,0,0,0,0.03,0,0.03,0.03,0.03,Matches
622,600,Jakub Łabojko,pl POL,MF,Ternana,26-154,1997,21,18,1288,...,0.07,0.07,0,0.07,0.02,0.08,0.1,0.02,0.1,Matches

In [11]:
combined_players.to_csv('Resources/combined_players.csv', index=False)

In [12]:
# Finding players born in 2004 OR (|) a simple defenseman.
born_2004 = combined_players.loc[(combined_players['Born'] == '2004') | (combined_players['Pos'] == 'DF')]
born_2004.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Matches
8,9,Stephan Ambrosius,gh GHA,DF,Hamburger SV,25-078,1998,15,11,1026,...,0,0,0,0,0.01,0.01,0.02,0.01,0.02,Matches
12,13,Thanasis Androutsos,gr GRE,DF,Osnabrück,26-304,1997,6,5,431,...,0,0,0,0,0.01,0.03,0.04,0.01,0.04,Matches
13,14,Martin Angha,ch SUI,DF,Wehen,30-043,1994,15,14,1284,...,0,0,0,0,0.03,0.08,0.11,0.03,0.11,Matches
15,16,Nico Antonitsch,at AUT,DF,Elversberg,32-157,1991,3,0,87,...,0,0,0,0,0.19,0,0.19,0.19,0.19,Matches
18,19,Bright Arrey-Mbi,de GER,DF,Hannover 96,20-345,2003,23,19,1666,...,0,0,0,0,0.01,0,0.01,0.01,0.01,Matches

In [13]:
print(combined_players.columns.tolist())

['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'PrgR', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1', 'G+A-PK', 'xG.1', 'xAG.1', 'xG+xAG', 'npxG.1', 'npxG+xAG.1', 'Matches']

In [14]:
columns_to_remove = ['Rk', 'Nation', 'Born', 'Starts', '90s', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'npxG', 'PrgC', 'PrgP', 'PrgR', 'G-PK.1', 'G+A-PK', 'npxG.1', 'npxG+xAG.1', 'Matches']
filtered_dataframe = combined_players.drop(columns=columns_to_remove)
print(filtered_dataframe.columns.tolist())

['Player', 'Pos', 'Squad', 'Age', 'MP', 'Min', 'Gls', 'Ast', 'G+A', 'xG', 'xAG', 'npxG+xAG', 'Gls.1', 'Ast.1', 'G+A.1', 'xG.1', 'xAG.1', 'xG+xAG']

In [15]:

filtered_dataframe.rename(columns={'Pos': 'Position', 'MP': 'Matches Played', 'Min': 'Minutes Played', 'Gls': 'Goals', 'Ast': 'Assists', 'G+A': 'Goals + Assists', 
                                   'xG': 'Expected Goals', 'xAG': 'Expected Assists', 'npxG+xAG': 'Expected Goals + Assists', 'Gls.1': 'Goals per 90', 
                                   'Ast.1': "Assists per 90", 'G+A.1': 'Goals + Assists per 90','xG.1': 'Expected Goals per 90', 'xAG.1': 'Expected Assists per 90', 
                                   'xG+xAG': 'Expected Goals + Assists per 90'}, inplace=True)
filtered_dataframe = filtered_dataframe[filtered_dataframe['Player'] != 'Player']
print(filtered_dataframe.head())

             Player Position           Squad     Age Matches Played  \
0    Dickson Abiama       FW  Greuther Fürth  25-123             13
1    Dickson Abiama    DF,MF  Kaiserslautern  25-123              5
2       Ragnar Ache    FW,MF  Kaiserslautern  25-221             18
3       Aremu Afeez       MF  Kaiserslautern  24-154              2
4  Oladapo Afolayan    FW,MF       St. Pauli  26-022             24

  Minutes Played Goals Assists Goals + Assists Expected Goals  \
0            533     3       1               4            2.6
1            102     0       0               0            0.2
2           1151    12       0              12            8.6
3             45     0       0               0              0
4           1739     6       2               8            2.8

  Expected Assists Expected Goals + Assists Goals per 90 Assists per 90  \
0              0.4                        3         0.51           0.17
1              0.1                      0.3            0              0
2                1                      9.7         0.94              0
3                0                        0            0              0
4              1.8                      4.6         0.31            0.1

  Goals + Assists per 90 Expected Goals per 90 Expected Assists per 90  \
0                   0.68                  0.44                    0.07
1                      0                  0.17                    0.08
2                   0.94                  0.68                    0.08
3                      0                  0.02                       0
4                   0.41                  0.14                     0.1

  Expected Goals + Assists per 90
0                            0.51
1                            0.25
2                            0.76
3                            0.02
4                            0.24

In [16]:
# Check that the columns have been renamed and display in list format for ease of copying later in the code.
print(filtered_dataframe.columns.tolist())

['Player', 'Position', 'Squad', 'Age', 'Matches Played', 'Minutes Played', 'Goals', 'Assists', 'Goals + Assists', 'Expected Goals', 'Expected Assists', 'Expected Goals + Assists', 'Goals per 90', 'Assists per 90', 'Goals + Assists per 90', 'Expected Goals per 90', 'Expected Assists per 90', 'Expected Goals + Assists per 90']

In [17]:
# Print the data with display() in a more readable format to check the information and renamed columns.
display(filtered_dataframe)

,Player,Position,Squad,Age,Matches Played,Minutes Played,Goals,Assists,Goals + Assists,Expected Goals,Expected Assists,Expected Goals + Assists,Goals per 90,Assists per 90,Goals + Assists per 90,Expected Goals per 90,Expected Assists per 90,Expected Goals + Assists per 90
0,Dickson Abiama,FW,Greuther Fürth,25-123,13,533,3,1,4,2.6,0.4,3,0.51,0.17,0.68,0.44,0.07,0.51
1,Dickson Abiama,"DF,MF",Kaiserslautern,25-123,5,102,0,0,0,0.2,0.1,0.3,0,0,0,0.17,0.08,0.25
2,Ragnar Ache,"FW,MF",Kaiserslautern,25-221,18,1151,12,0,12,8.6,1,9.7,0.94,0,0.94,0.68,0.08,0.76
3,Aremu Afeez,MF,Kaiserslautern,24-154,2,45,0,0,0,0,0,0,0,0,0,0.02,0,0.02
4,Oladapo Afolayan,"FW,MF",St. Pauli,26-022,24,1739,6,2,8,2.8,1.8,4.6,0.31,0.1,0.41,0.14,0.1,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,Jan Zuberek,FW,Ternana,19-358,1,23,0,0,0,0,0,0,0,0,0,0,0.07,0.07
619,Federico Zuccon,MF,Cosenza,20-339,21,1361,0,2,2,0.8,0.6,1.4,0,0.13,0.13,0.05,0.04,0.09
620,Szymon Żurkowski,MF,Spezia,26-162,16,636,0,1,1,0.7,1,1.6,0,0.14,0.14,0.09,0.14,0.23
621,Žan Žužek,DF,Bari,27-039,9,544,0,0,0,0.2,0,0.2,0,0,0,0.03,0,0.03
622,Jakub Łabojko,MF,Ternana,26-154,21,1288,0,1,1,0.3,1.2,1.5,0,0.07,0.07,0.02,0.08,0.1

I noticed that there are duplicates in the 'Player' column, which suggests transferred players, who have played for two or more clubs so far this season. Their data needs to be included, as a player transfer is not sufficient reason to remove their information. Also, their data is split and therefore lower, which (unless they are superhuman) will remove them from the later filters.

### Checking for Duplicate Names

In [18]:
# Check for duplicate players, which indicates a transfer. Their matches played will necessarily be less, split across 2+ teams. 
player_counts = filtered_dataframe.groupby('Player').size()
double_names = player_counts[player_counts >= 2]
print(double_names.count())

125

In [19]:
# Put this in a list to be able to see the names.
double_names = player_counts[player_counts >= 2].index.tolist()
print(double_names)

['Abdoul Guiebre', 'Afonso Bastardo', 'Alejandro Blanco', 'Alessio Castro-Montes', 'Aleš Matějů', 'Amadou Ba-Sy', 'Anderson Arroyo', 'Anderson Lucoqui', 'André Castro', 'Andrés Martín', 'Andy', 'Angel Troncho', 'Antoine Batisse', 'Antonino La Gumina', 'Arana', 'Arnau Ortiz', 'Aurélien Scheidler', 'Ba-Muaka Simakala', 'Bram Lagae', 'Bruno Xavier Almeida Costa', 'Cesar Falletti', 'Chiquinho', 'Christoph Daferner', 'Christopher Scott', 'Cristiano Piccini', 'Dani Escriche', 'Daniel Schmidt', 'Dario Essugo', 'Darío Poveda', 'Dauda Mohammed', 'Davide Guglielmotti', 'Dennis Johnsen', 'Dickson Abiama', 'Diego Falcinelli', 'Diego González', 'Diego Moreno', 'Dimo Krastev', 'Eddie Salcedo', 'Elady Zorrilla', 'Emmanuel Ntim', 'Ettore Gliozzi', 'Fabrizio Paghera', 'Federico Dionisi', 'Fidel', 'Filippo Sgarbi', 'Florian Le Joncour', 'Florian Tardieu', 'Francesco Forte', 'Frederic Soelle Soelle', 'Gabriel Lunetta', 'Gaëtan Charbonnier', 'Gaëtan Courtet', 'Giacomo Manzari', 'Gianluca Frabotta', 'Gustavo Henrique', 'Hugo Vandermersch', 'Iker Unzueta', 'Joni Montiel', 'Jorge Pombo', 'Jorge Yriarte', 'Jovanny Bolívar', 'João Moutinho', 'Kalidou Sidibé', 'Kapitbafan Djoco', 'Ken Nkuba', 'Lauti', 'Lex Lobinger', 'Lorenzo Di Stefano', 'Luca Vignali', 'Luismi', 'Mamadou Fofana', 'Mamadou Sylla', 'Mandela Keita', 'Manu Hernando', 'Marco Kana', 'Marlon Mustapha', 'Mateus Fernandes', 'Matheus Aiás', 'Mats Rits', 'Matteo Stoppa', 'Michele Camporese', 'Miguel', 'Mirko Antonucci', 'Mounaim El Idrissy', 'Nacho', 'Niccolò Corrado', 'Nicholas Bonfanti', 'Nieto', 'Niklas Tauer', 'Norman Bassette', 'Nuno Gonçalo Moreira', 'Nuno Santos', 'Otavio Ataide', 'Ousmane Camara', 'Paulinho', 'Pedro Mendes', 'Pere Milla', 'Raúl Guti', 'Renaud Emond', 'Rodrigo Martins', 'Roko Baturina', 'Romeo Vermant', 'Rubén', 'Rúben Lameiras', 'Sacha Banse', 'Salim Diakité', 'Sergio Bermejo', 'Sergio León', 'Tobias Müller', 'Tommaso Arrigoni', 'Toni Datković', 'Ugo Bonnet', 'Valerio Mantovani', 'Vasco Fernandes', 'Victor Lobry', 'Vittorio Parigini', 'Warren Caddy', 'Yanis Rahmani', 'Yohan Demoncy', 'Zakaria El Ouahdi', 'Ádám Nagy', 'Álex López', 'Álex Martín', 'Édgar Badía', 'Úmaro Embaló']

Now that I have identified the players with duplicate names in the dataframe, I need to combine their information. This will require adding together numerical values and keeping single occurrences of text.

In [20]:
# Storing the information about duplicate players in a new variable.
duplicate_players = filtered_dataframe[filtered_dataframe['Player'].isin(double_names)]
print(duplicate_players)

                 Player Position           Squad     Age Matches Played  \
0        Dickson Abiama       FW  Greuther Fürth  25-123             13
1        Dickson Abiama    DF,MF  Kaiserslautern  25-123              5
81   Christoph Daferner       FW        Nürnberg  26-053              4
82   Christoph Daferner    FW,MF      Düsseldorf  26-053              7
279  Florian Le Joncour       DF      Elversberg  29-031              5
..                  ...      ...             ...     ...            ...
535      Filippo Sgarbi       DF         Ternana  26-067              7
549       Matteo Stoppa       FW       Sampdoria  23-160              1
550       Matteo Stoppa    MF,FW       Catanzaro  23-160             17
598        Luca Vignali    DF,MF            Como  28-054              5
599        Luca Vignali    DF,MF          Spezia  28-054              7

    Minutes Played Goals Assists Goals + Assists Expected Goals  \
0              533     3       1               4            2.6
1              102     0       0               0            0.2
81             186     0       0               0            0.2
82             266     0       1               1            0.6
279            435     0       0               0              0
..             ...   ...     ...             ...            ...
535            552     1       0               1            0.3
549              9     0       0               0              0
550            493     0       2               2            0.6
598            271     0       0               0              0
599            294     0       1               1            0.1

    Expected Assists Expected Goals + Assists Goals per 90 Assists per 90  \
0                0.4                        3         0.51           0.17
1                0.1                      0.3            0              0
81                 0                      0.3            0              0
82               0.2                      0.9            0           0.34
279                0                      0.1            0              0
..               ...                      ...          ...            ...
535              0.1                      0.3         0.16              0
549              0.2                      0.2            0              0
550              0.3                      0.9            0           0.37
598              0.2                      0.2            0              0
599              0.1                      0.2            0           0.31

    Goals + Assists per 90 Expected Goals per 90 Expected Assists per 90  \
0                     0.68                  0.44                    0.07
1                        0                  0.17                    0.08
81                       0                  0.12                    0.01
82                    0.34                  0.21                    0.08
279                      0                  0.01                    0.01
..                     ...                   ...                     ...
535                   0.16                  0.04                    0.01
549                      0                     0                    2.04
550                   0.37                  0.12                    0.05
598                      0                     0                    0.07
599                   0.31                  0.03                    0.03

    Expected Goals + Assists per 90
0                              0.51
1                              0.25
81                             0.13
82                              0.3
279                            0.01
..                              ...
535                            0.05
549                            2.04
550                            0.17
598                            0.07
599                            0.07

[252 rows x 18 columns]

In [21]:
# Joining the data from those players with duplicate names to ensure accurate data and fair analysis.
# I have added numerical values together with 'sum', and selected the last values in columns with text.
combined_rows = duplicate_players.groupby('Player', as_index=False).agg({
    'Player': 'last',
    'Position': 'last',
    'Squad': 'last',
    'Age': 'last',
    'Matches Played': 'sum',
    'Minutes Played': 'sum',
    'Goals': 'sum',
    'Assists': 'sum',
    'Goals + Assists': 'sum',
    'Expected Goals': 'sum',
    'Expected Assists': 'sum',
    'Expected Goals + Assists': 'sum',
    'Goals per 90': 'sum',
    'Assists per 90': 'sum',
    'Goals + Assists per 90': 'sum',
    'Expected Goals per 90': 'sum',
    'Expected Assists per 90': 'sum',
    'Expected Goals + Assists per 90': 'sum'
})

print(combined_rows)

                    Player Position           Squad     Age Matches Played  \
0           Abdoul Guiebre       DF          Modena  26-232             13
1          Afonso Bastardo    FW,DF  Gil Vicente FC  18-352              5
2         Alejandro Blanco       MF            Como  25-080              7
3    Alessio Castro-Montes    DF,MF        Union SG  26-293             23
4              Aleš Matějů       DF         Palermo  27-276             24
..                     ...      ...             ...     ...            ...
120              Ádám Nagy       MF          Spezia  28-262             17
121             Álex López       MF   Racing Ferrol  36-054             29
122            Álex Martín    DF,MF   Racing Ferrol  26-040              9
123            Édgar Badía       GK        Zaragoza  32-022             15
124           Úmaro Embaló    FW,MF       Cartagena  22-304             21

    Minutes Played Goals Assists Goals + Assists Expected Goals  \
0              474     0       0               0            0.1
1               67     0       0               0              0
2              233     0       0               0            1.1
3             1760     2       2               4            0.4
4             1991     1       0               1            0.7
..             ...   ...     ...             ...            ...
120            909     0       0               0            0.2
121            843     1       0               1            1.1
122            468     0       0               0              0
123           1350     0       0               0              0
124            844     1       1               2            0.8

    Expected Assists Expected Goals + Assists Goals per 90 Assists per 90  \
0                0.5                      0.6            0              0
1                  0                      0.1            0              0
2                0.3                      1.4            0              0
3                2.3                      2.8         0.11           0.11
4                0.9                      1.5         0.14              0
..               ...                      ...          ...            ...
120              0.1                      0.4            0              0
121              0.6                      1.6         0.17              0
122                0                        0            0              0
123                0                        0            0              0
124              0.9                      1.6          0.3           0.17

    Goals + Assists per 90 Expected Goals per 90 Expected Assists per 90  \
0                        0                  0.02                    0.11
1                        0                   0.1                    0.07
2                        0                  0.89                     0.3
3                     0.21                  0.02                    0.18
4                     0.14                  0.08                    0.09
..                     ...                   ...                     ...
120                      0                  0.05                    0.03
121                   0.17                   0.2                    0.13
122                      0                  0.01                       0
123                      0                     0                       0
124                   0.47                  0.17                    0.18

    Expected Goals + Assists per 90
0                              0.13
1                              0.17
2                              1.19
3                              0.21
4                              0.17
..                              ...
120                            0.07
121                            0.34
122                            0.01
123                               0
124                            0.36

[125 rows x 18 columns]

In [22]:
# I was unable to get filtered_dataframe to append the combined_rows dataframe.
# .concat() might have worked, but I had already created a new dataframe when I realised.
unique_players = filtered_dataframe[~filtered_dataframe['Player'].isin(double_names)]
print(unique_players.head())

               Player Position           Squad     Age Matches Played  \
2         Ragnar Ache    FW,MF  Kaiserslautern  25-221             18
3         Aremu Afeez       MF  Kaiserslautern  24-154              2
4    Oladapo Afolayan    FW,MF       St. Pauli  26-022             24
5  Nikolas Agrafiotis       FW           Wehen  23-315              3
6      Andreas Albers       FW       St. Pauli  33-348             11

  Minutes Played Goals Assists Goals + Assists Expected Goals  \
2           1151    12       0              12            8.6
3             45     0       0               0              0
4           1739     6       2               8            2.8
5             91     0       0               0            0.4
6            360     0       0               0            1.3

  Expected Assists Expected Goals + Assists Goals per 90 Assists per 90  \
2                1                      9.7         0.94              0
3                0                        0            0              0
4              1.8                      4.6         0.31            0.1
5                0                      0.4            0              0
6              0.2                      1.5            0              0

  Goals + Assists per 90 Expected Goals per 90 Expected Assists per 90  \
2                   0.94                  0.68                    0.08
3                      0                  0.02                       0
4                   0.41                  0.14                     0.1
5                      0                  0.39                       0
6                      0                  0.31                    0.05

  Expected Goals + Assists per 90
2                            0.76
3                            0.02
4                            0.24
5                            0.39
6                            0.36

In [23]:
# Here I am creating a new dataframe that combines the unique players with the combined rows of duplicate players.
# This is therefore the concatenation of two dataframes that are both unique (i.e. without duplicate names).
cleaned_dataframe = pd.concat([combined_rows, unique_players], axis=0, ignore_index=True)
print(cleaned_dataframe)

                     Player Position           Squad     Age Matches Played  \
0            Abdoul Guiebre       DF          Modena  26-232             13
1           Afonso Bastardo    FW,DF  Gil Vicente FC  18-352              5
2          Alejandro Blanco       MF            Como  25-080              7
3     Alessio Castro-Montes    DF,MF        Union SG  26-293             23
4               Aleš Matějů       DF         Palermo  27-276             24
...                     ...      ...             ...     ...            ...
3159            Jan Zuberek       FW         Ternana  19-358              1
3160        Federico Zuccon       MF         Cosenza  20-339             21
3161       Szymon Żurkowski       MF          Spezia  26-162             16
3162              Žan Žužek       DF            Bari  27-039              9
3163          Jakub Łabojko       MF         Ternana  26-154             21

     Minutes Played Goals Assists Goals + Assists Expected Goals  \
0               474     0       0               0            0.1
1                67     0       0               0              0
2               233     0       0               0            1.1
3              1760     2       2               4            0.4
4              1991     1       0               1            0.7
...             ...   ...     ...             ...            ...
3159             23     0       0               0              0
3160           1361     0       2               2            0.8
3161            636     0       1               1            0.7
3162            544     0       0               0            0.2
3163           1288     0       1               1            0.3

     Expected Assists Expected Goals + Assists Goals per 90 Assists per 90  \
0                 0.5                      0.6            0              0
1                   0                      0.1            0              0
2                 0.3                      1.4            0              0
3                 2.3                      2.8         0.11           0.11
4                 0.9                      1.5         0.14              0
...               ...                      ...          ...            ...
3159                0                        0            0              0
3160              0.6                      1.4            0           0.13
3161                1                      1.6            0           0.14
3162                0                      0.2            0              0
3163              1.2                      1.5            0           0.07

     Goals + Assists per 90 Expected Goals per 90 Expected Assists per 90  \
0                         0                  0.02                    0.11
1                         0                   0.1                    0.07
2                         0                  0.89                     0.3
3                      0.21                  0.02                    0.18
4                      0.14                  0.08                    0.09
...                     ...                   ...                     ...
3159                      0                     0                    0.07
3160                   0.13                  0.05                    0.04
3161                   0.14                  0.09                    0.14
3162                      0                  0.03                       0
3163                   0.07                  0.02                    0.08

     Expected Goals + Assists per 90
0                               0.13
1                               0.17
2                               1.19
3                               0.21
4                               0.17
...                              ...
3159                            0.07
3160                            0.09
3161                            0.23
3162                            0.03
3163                             0.1

[3164 rows x 18 columns]

In [24]:
# Double-checking if there are any duplicated names in the cleaned_dataframeplayer_counts = cleaned_dataframe.groupby('Player').size()
double_names = player_counts[player_counts >= 2]
print(double_names.count())

0

### Checking for Null Values

In [26]:
# Checking if there are any nulls in the cleaned_dataframe
null_row_count = cleaned_dataframe.isnull().sum()
print(null_row_count)

Player                              0
Position                            0
Squad                               0
Age                                 3
Matches Played                      0
Minutes Played                      0
Goals                               0
Assists                             0
Goals + Assists                     0
Expected Goals                     41
Expected Assists                   41
Expected Goals + Assists           41
Goals per 90                        0
Assists per 90                      0
Goals + Assists per 90              0
Expected Goals per 90              41
Expected Assists per 90            41
Expected Goals + Assists per 90    41
dtype: int64

In [37]:
null_rows = cleaned_dataframe[cleaned_dataframe.isnull().any(axis=1)]
print(null_rows[['Player', 'Position']])

                        Player Position
183            Niklas Castelle       FW
270          Sveinn Guðjohnsen       FW
296             Jannik Hofmann       DF
548        Anssi Tapio Suhonen       MF
618               Isaac Asante       MF
641           Nadhir Benbouali       FW
746              Matija Frigan       FW
793      Abdoul Kader Ouattara       FW
794       Abdoul Kader Yaméogo       DF
838              Théo Maréchal       MF
844                Pathé Mboup       FW
926       Abdoul Rachid Ayinde       DF
1048  Elhadj Abdourahamane Bah       FW
1101            Julien Benhaim       MF
1127             Ismael Bouneb       MF
1238               Didi Gaucho       MF
1323                Wakis Koré       DF
1446             Tuomas Ollila       DF
1454           Mohamed Ouhatti       MF
1456        Pape Ousmane Sakho       FW
1530      Ibrahima Sory Diallo       FW
1577              Julien Vetro       FW
1696        Florian Danho Seke       FW
1894                     Nlavo       FW
2089              Rodri Alonso       MF
2113            Ayman Arguigue       FW
2234              Dani Esmorís       DF
2238             Marco Esteban       DF
2265              Iñigo García       FW
2267             Juanma García    FW,MF
2303           Pablo Hernández       MF
2361          Alejandro Lozano    MF,DF
2533              Juan Sabater       MF
2561    Francho Serrano Gracia       MF
2628              Fabio Abiuso       FW
2697           Gabriele Boloca       DF
2706             Gjyla Briajan       FW
2753         Attys Christopher       MF
2850         Tommaso Fumagalli       FW
2942           Kristoffer Lund       DF
2954             Doudou Mangni       FW
3087          Yehiya Silvestri       MF
3093           Dimitris Sounas    FW,MF

In [40]:
cleaned_dataframe = cleaned_dataframe.fillna(0)
print(cleaned_dataframe.isnull().sum())

Player                             0
Position                           0
Squad                              0
Age                                0
Matches Played                     0
Minutes Played                     0
Goals                              0
Assists                            0
Goals + Assists                    0
Expected Goals                     0
Expected Assists                   0
Expected Goals + Assists           0
Goals per 90                       0
Assists per 90                     0
Goals + Assists per 90             0
Expected Goals per 90              0
Expected Assists per 90            0
Expected Goals + Assists per 90    0
dtype: int64

This has not given much information. I expected it to return only goalkeepers, but there are numerous outfield players included. There are only 41 instances with a null value present, so it does not interfere. 

I am filling in the null values with 0 - this will enable the filters that I use later. Any players that have 0 for the tested metrics will not be included anyway.

### Filtering for Strikers
Now I am going to continue filtering this dataframe to create the 'strikers_dataframe'. This will remove the goalkeepers, defenders (various positions), and also remove outfield players who have not been on the field in at least 50% of matches. 

As of mid-March 2024, a quick check shows that (depending on the league), all of the teams have played between roughly 25-30 matches. A rough estimate will suffice for this particular metric, so I'll go for 12 matches (the lower end) to avoid missing players.

In [62]:
# Creating a new dataframe (from cleaned_dataframe) that only contains the columns that I am interested in.
cleaned_dataframe['Matches Played'] = pd.to_numeric(cleaned_dataframe['Matches Played'], errors='coerce')
matches_played = cleaned_dataframe['Matches Played'] >= 13
print(matches_played)

0        True
1       False
2       False
3        True
4        True
        ...
3159    False
3160     True
3161     True
3162    False
3163     True
Name: Matches Played, Length: 3164, dtype: bool

In [61]:
# Checking that the matches_played variable is numeric and producing a boolean True or False.
print(matches_played.dtypes)

bool

In [64]:
# Creating a variable to hold the attacking players and checking that it is producing a boolean True or False.
attacking_player = cleaned_dataframe['Position'].str.contains('FW|MF')
print(attacking_player)

0       False
1        True
2        True
3        True
4       False
        ...
3159     True
3160     True
3161     True
3162    False
3163     True
Name: Position, Length: 3164, dtype: bool

In [66]:
# Creating a new dataframe to filter with these variables and find only those attacking players who have played in roughly half of their team's games.
striker_dataframe = cleaned_dataframe[attacking_player & matches_played]
print(striker_dataframe.head())

                   Player Position        Squad     Age  Matches Played  \
3   Alessio Castro-Montes    DF,MF     Union SG  26-293              23
9           Andrés Martín    FW,MF  Racing Sant  24-238              27
10                   Andy    MF,DF       Burgos  34-035              22
13     Antonino La Gumina       FW    Sampdoria  27-365              17
14                  Arana       FW  Racing Sant  24-026              25

    Minutes Played  Goals  Assists  Goals + Assists  Expected Goals  \
3             1760      2        2                4             0.4
9             1820      4        2                6             3.3
10             828      1        2                3             1.3
13             687      2        0                2             2.0
14            1418      9        1               10             6.8

    Expected Assists  Expected Goals + Assists  Goals per 90  Assists per 90  \
3                2.3                       2.8          0.11            0.11
9                2.8                       6.2          0.34            0.17
10               1.5                       2.1          0.14            1.01
13               0.0                       1.2          0.47            0.00
14               0.7                       7.5          0.57            0.06

    Goals + Assists per 90  Expected Goals per 90  Expected Assists per 90  \
3                     0.21                   0.02                     0.18
9                     0.51                   0.27                     0.25
10                    1.15                   0.19                     0.45
13                    0.47                   0.49                     0.00
14                    0.64                   0.43                     0.04

    Expected Goals + Assists per 90
3                              0.21
9                              0.53
10                             0.64
13                             0.49
14                             0.48